@charset "UTF-8";

/*
em HTML é id = em CSS é #
em HTML é class = em CSS é .
*/
body{
    background-color: rgb(157, 157, 219);
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    text-align: center;
}
h1{
    color: rgb(9, 9, 99);
}
h2{
    color: rgb(49, 49, 206);
}
p{
    text-align: justify;
}
.basico{
    color: green;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;
}
.destaque{
    background-color: rgba(201, 201, 53, 0.821);
}