@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    }
    p{
        text-align: justify;
    }
    body{
        background-image: linear-gradient(to right,#A7A7A8, #9BBEE1 );
    }
    main{
        background-color: white;
        border-radius:10px ;
        box-shadow: 5px 5px 15px #2f3a4483;
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    h1{
        color:#3F4E5C ;
        text-align: center;
        text-shadow: 1px 1px 2px #28323ba0;
    }
    h2{
        color:#708ba5 ;   
    }